<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product Page</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <%- include('header') %>
    <div>
        <p id="title">
            <span>Available Products</span>
        </p>
        <% for(let i=0; i < products.length; i++){ %>
            <div id="prod-container">
                <image id="prod-img" src="/public/images/smartwatch.jfif" alt="product-image"></image>
                <span id="title">
                    <%= products[i].name %>
                </span>
                <p>Description: <%= products[i].description %></p>
                <h4>Price: <%= products[i].price %>
                </h4>
                <form action="/addToCart" method="POST">
                    <input name="id" type="hidden" value="<%= products[i].id %>"></input>
                    <button type="submit">Add to cart</button><br>&nbsp;&nbsp;
                </form>
            </div>
        <% } %>
    </div>
    <%- include('footer') %>
    
</body>

</html>